:root
{
    font-size: 16px;
}

*
{
    margin: 0 auto;
}
body
{
    margin: 0 auto;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav
{
    background-color: rgba(240, 255, 255, 0.507);
    border-bottom: 1px solid #ccc;
    backdrop-filter: blur(8px);
    width: 100vw;
    padding: 4px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

main
{
margin: 0 auto;

}

h1
{
    font-weight: 600;
    color: #fff;
    font-size: 4rem;
    line-height: 80%; 
    letter-spacing: -5%;
    font-family:  "Cantarell", sans-serif;
    text-shadow: 1rem 1rem 50px  #111;
}

a
{
    text-decoration: none;
    color: #fff;
}
a:hover
{
    color: #aaa;
    cursor: pointer;
}
a:visited
{
    color: #999;
}

video
{
    background-color: transparent;
    object-fit: cover;
    width: 60vw;
}

.contact_btn
{
    font-weight: 600;
}

.inline
{
    display: grid;
   grid-template-columns: 100px 100px;
   gap: 2rem;
    margin: 0 auto;
}


.grid-container
{
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    overflow: hidden;
}
/* background graphic https://unsplash.com/photos/abstract-purple-wave-gradient-background-seA-FPPXL-M */
#hero
{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 0 10vw;
    box-shadow: inset 0px 0px 300px 8px #141414;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
}

#tech_promo
{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 80px 150px;
    grid-auto-rows: 70px;
    margin: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.tech_name
{
    text-align: left;
}
 
#name > p
{
    margin: 2rem 0;
    font-family: "Inder", sans-serif;
    font-size: 2rem;
    letter-spacing: 20%;
    background: linear-gradient(to right top, #c7ab1e 0%, #FF4E50 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-break: auto;
}

#grid-container > *
{
    z-index: 1;
}

#name
{
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    color: #fff;
    font-size: 30px;
    
}
#tech_promo > div > img
{
    width: 45px;
}


#demo-1
{
    background-image: linear-gradient(
        135deg,
        #0f0f0f 0%,
        #111 40%
        );
        box-shadow: inset 0 0 70px 2px #151515;
        grid-template-rows: auto;
        align-items: end;
        padding: 2rem;
}
@media (width< 872px)
{
    #demo-1
    {
        align-items: center;
        max-height: min-content;
    }
}

@media (width< 500px)
{
    #demo-1
    {
        align-items: start;
        max-height: min-content;
    }
}


#demo-1 video
{
    filter: drop-shadow( 0 3px 200px rgba(94, 94, 94, 0.8));
}
